In [1]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

In [2]:
# load data
Data = pd.read_csv("Life Expectancy Data.csv")
cols = Data.columns
print(Data.columns)
print(Data)

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')
          Country  Year      Status  Life expectancy   Adult Mortality  \
0     Afghanistan  2015  Developing              65.0            263.0
1     Afghanistan  2014  Developing              59.9            271.0
2     Afghanistan  2013  Developing              59.9            268.0
3     Afghanistan  2012  Developing              59.5            272.0
4     Afghanistan  2011  Developing              59.2            275.0
...           ...   ...         ...               ...              ...
2933     Zimbabwe  2004  Developing              44.3            723.0
2934     Zimbabwe  2003  Developing              44.5            715.0
2935     Zimbabwe  2002  Developing              44.8             73.0
2936     Zimbabwe  2001  Developing              45.3            686.0
2937     Zimbabwe  2000  Developing              46.0            665.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624         65.0      1154
1                64     0.01               73.523582         62.0       492
2                66     0.01               73.219243         64.0       430
3                69     0.01               78.184215         67.0      2787
4                71     0.01                7.097109         68.0      3013
...             ...      ...                     ...          ...       ...
2933             27     4.36                0.000000         68.0        31
2934             26     4.06                0.000000          7.0       998
2935             25     4.43                0.000000         73.0       304
2936             25     1.72                0.000000         76.0       529
2937             24     1.68                0.000000         79.0      1483

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
0     ...    6.0               8.16         65.0        0.1  584.259210
1     ...   58.0               8.18         62.0        0.1  612.696514
2     ...   62.0               8.13         64.0        0.1  631.744976
3     ...   67.0               8.52         67.0        0.1  669.959000
4     ...   68.0               7.87         68.0        0.1   63.537231
...   ...    ...                ...          ...        ...         ...
2933  ...   67.0               7.13         65.0       33.6  454.366654
2934  ...    7.0               6.52         68.0       36.7  453.351155
2935  ...   73.0               6.53         71.0       39.8   57.348340
2936  ...   76.0               6.16         75.0       42.1  548.587312
2937  ...   78.0               7.10         78.0       43.5  547.358878

      Population   thinness  1-19 years   thinness 5-9 years  \
0     33736494.0                   17.2                 17.3
1       327582.0                   17.5                 17.5
2     31731688.0                   17.7                 17.7
3      3696958.0                   17.9                 18.0
4      2978599.0                   18.2                 18.2
...          ...                    ...                  ...
2933  12777511.0                    9.4                  9.4
2934  12633897.0                    9.8                  9.9
2935    125525.0                    1.2                  1.3
2936  12366165.0                    1.6                  1.7
2937  12222251.0                   11.0                 11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1                               0.476       10.0
2                               0.470        9.9
3                               0.463        9.8
4                               0.454        9.5
...                               ...        ...
2933                            0.407        9.2
2934                            0.418        9.5
2935                            0.427       10.0
2936                            0.427        9.8
2937                            0.434        9.8

[2938 rows x 22 columns]

In [3]:
# Find the percentage of None data for each colume
Data.isna().sum()/len(Data)

Country                            0.000000
Year                               0.000000
Status                             0.000000
Life expectancy                    0.003404
Adult Mortality                    0.003404
infant deaths                      0.000000
Alcohol                            0.066031
percentage expenditure             0.000000
Hepatitis B                        0.188223
Measles                            0.000000
 BMI                               0.011572
under-five deaths                  0.000000
Polio                              0.006467
Total expenditure                  0.076923
Diphtheria                         0.006467
 HIV/AIDS                          0.000000
GDP                                0.152485
Population                         0.221920
 thinness  1-19 years              0.011572
 thinness 5-9 years                0.011572
Income composition of resources    0.056841
Schooling                          0.055480
dtype: float64

In [4]:
# Drop rows that has no "live expectancy" column since it is just 0.003404
Data = Data[~Data["Life expectancy "].isna()]

# Drop rows that are missing less than 5% of data 
non_perc = (Data.isna().sum()/len(Data)).values
less5Cols = non_perc < 0.05
print(cols[less5Cols])
for col in cols[less5Cols]:
    if Data[col].isna().sum()/len(Data) > 1e-3:
        print(col)
        print("before :", len(Data))
        Data = Data[~Data[col].isna()]
        print("after :",len(Data))

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'percentage expenditure', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Diphtheria ', ' HIV/AIDS',
       ' thinness  1-19 years', ' thinness 5-9 years'],
      dtype='object')
 BMI
before : 2928
after : 2896
Polio
before : 2896
after : 2888

In [5]:
print()
print("After droping")
print(Data.isna().sum()/len(Data))

After droping
Country                            0.000000
Year                               0.000000
Status                             0.000000
Life expectancy                    0.000000
Adult Mortality                    0.000000
infant deaths                      0.000000
Alcohol                            0.060596
percentage expenditure             0.000000
Hepatitis B                        0.181787
Measles                            0.000000
 BMI                               0.000000
under-five deaths                  0.000000
Polio                              0.000000
Total expenditure                  0.073407
Diphtheria                         0.000000
 HIV/AIDS                          0.000000
GDP                                0.150623
Population                         0.222992
 thinness  1-19 years              0.000000
 thinness 5-9 years                0.000000
Income composition of resources    0.055402
Schooling                          0.055402
dtype: float64

In [6]:
# replace Developing , Developed in boolean
Data = Data.replace("Developing", False)
Data = Data.replace("Developed", True)
print(Data["Status"])

0       False
1       False
2       False
3       False
4       False
        ...
2933    False
2934    False
2935    False
2936    False
2937    False
Name: Status, Length: 2888, dtype: bool

/tmp/ipykernel_8161/2042310883.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Data = Data.replace("Developed", True)

In [7]:
# fill mean of each column on missing values
non_perc = (Data.isna().sum()/len(Data)).values
ColsWithNone = non_perc > 0
print(cols[ColsWithNone])
for col in cols[ColsWithNone]:
    col_ave = round((Data[col][~Data[col].isna()]).mean(),4)
    indx = Data[col].isna()
    print(col)
    print("col_mean =", col_ave)
    print("before :", Data[col][indx].head(2), sep="\n")
    Data[col] = Data[col].fillna(col_ave)
    print("after :", Data[col][indx].head(2), sep="\n") 
    print()

Index(['Alcohol', 'Hepatitis B', 'Total expenditure', 'GDP', 'Population',
       'Income composition of resources', 'Schooling'],
      dtype='object')
Alcohol
col_mean = 4.6438
before :
32   NaN
48   NaN
Name: Alcohol, dtype: float64
after :
32    4.6438
48    4.6438
Name: Alcohol, dtype: float64

Hepatitis B
col_mean = 81.022
before :
44   NaN
45   NaN
Name: Hepatitis B, dtype: float64
after :
44    81.022
45    81.022
Name: Hepatitis B, dtype: float64

Total expenditure
col_mean = 5.9316
before :
32   NaN
48   NaN
Name: Total expenditure, dtype: float64
after :
32    5.9316
48    5.9316
Name: Total expenditure, dtype: float64

GDP
col_mean = 7576.8312
before :
160   NaN
161   NaN
Name: GDP, dtype: float64
after :
160    7576.8312
161    7576.8312
Name: GDP, dtype: float64

Population
col_mean = 12835335.4039
before :
64   NaN
65   NaN
Name: Population, dtype: float64
after :
64    1.283534e+07
65    1.283534e+07
Name: Population, dtype: float64

Income composition of resources
col_mean = 0.6325
before :
432   NaN
433   NaN
Name: Income composition of resources, dtype: float64
after :
432    0.6325
433    0.6325
Name: Income composition of resources, dtype: float64

Schooling
col_mean = 12.1163
before :
432   NaN
433   NaN
Name: Schooling, dtype: float64
after :
432    12.1163
433    12.1163
Name: Schooling, dtype: float64

In [8]:
# save the cleaned data
Data.to_csv("Life Expectancy Data Cleaned.csv")

In [12]:
print(Data["Year"].unique())

[2015 2014 2013 2012 2011 2010 2009 2008 2007 2006 2005 2004 2003 2002
 2001 2000]

In [37]:
print(Data["Country"].unique())

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas'
 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin'
 'Bhutan' 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso'
 'Burundi' "CÃ´te d'Ivoire" 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Denmark' 'Djibouti'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji' 'Finland' 'France' 'Gabon' 'Gambia'
 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland' 'Israel'
 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati'
 'Kuwait' 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Micronesia (Federated States of)' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal'
 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Norway' 'Oman'
 'Pakistan' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Poland' 'Portugal' 'Qatar' 'Republic of Korea' 'Republic of Moldova'
 'Romania' 'Russian Federation' 'Rwanda' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'Spain'
 'Sri Lanka' 'Suriname' 'Swaziland' 'Sweden' 'Switzerland'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand'
 'The former Yugoslav republic of Macedonia' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates'
 'United Kingdom of Great Britain and Northern Ireland'
 'United Republic of Tanzania' 'United States of America' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela (Bolivarian Republic of)' 'Viet Nam'
 'Yemen' 'Zambia' 'Zimbabwe']

In [46]:
np.linspace(2000, 2015, 16)
Universal_Countries = ["Albania", "Algeria", "Argentina", "Australia", "Austria", "Bahamas", "Bahrain", 
                       "Belgium", "Bhutan", "Botswana", "Brazil", "Brunei Darussalam", "Bulgaria", "Burkina Faso", 
                       "Canada", "China", "Colombia", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czechia", 
                       "Denmark", "Finland", "France", "Georgia", "Germany", "Ghana", "Greece",
                       "Iceland", "India", "Indonesia", "Israel", "Italy", "Japan", "Kuwait", 
                       "Luxembourg", "Malaysia", "Maldives", "Mauritius", "Mexico",
                       "Morocco", "Netherlands", "New Zealand", "Democratic People's Republic of Korea", "Norway", "Pakistan", "Peru", 
                       "Philippines", "Portugal", "Romania", "Russian Federation", "Rwanda", "Saudi Arabia", "Serbia",
                       "Seychelles", "Singapore", "Slovenia", "South Africa", "Republic of Korea", "Spain", "Sri Lanka",
                       "Suriname", "Sweden", "Switzerland", "Thailand", "Trinidad and Tobago", "Tunisia",
                       "Turkey", "United Arab Emirates", "United Kingdom of Great Britain and Northern Ireland"]
print(len(Universal_Countries))
georgia = [2013, 2014, 2015]
ghana = np.linspace(2003, 2015, 13)
indonesia = [2014, 2015]
suriname = [2014, 2015]
print(ghana)

71
[2003. 2004. 2005. 2006. 2007. 2008. 2009. 2010. 2011. 2012. 2013. 2014.
 2015.]

In [47]:
missing = []
countries = np.array(Data["Country"].unique())
for i in range(len(Universal_Countries)):
    same = False
    for j in range(len(countries)):
        if Universal_Countries[i] == countries[j]:
            same = True
    if same == False:
        missing.append(Universal_Countries[i])

[]

In [48]:
Data["Universal_Insurance"] = False

In [49]:
print(Data)

          Country  Year  Status  Life expectancy   Adult Mortality  \
0     Afghanistan  2015   False              65.0            263.0
1     Afghanistan  2014   False              59.9            271.0
2     Afghanistan  2013   False              59.9            268.0
3     Afghanistan  2012   False              59.5            272.0
4     Afghanistan  2011   False              59.2            275.0
...           ...   ...     ...               ...              ...
2933     Zimbabwe  2004   False              44.3            723.0
2934     Zimbabwe  2003   False              44.5            715.0
2935     Zimbabwe  2002   False              44.8             73.0
2936     Zimbabwe  2001   False              45.3            686.0
2937     Zimbabwe  2000   False              46.0            665.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624         65.0      1154
1                64     0.01               73.523582         62.0       492
2                66     0.01               73.219243         64.0       430
3                69     0.01               78.184215         67.0      2787
4                71     0.01                7.097109         68.0      3013
...             ...      ...                     ...          ...       ...
2933             27     4.36                0.000000         68.0        31
2934             26     4.06                0.000000          7.0       998
2935             25     4.43                0.000000         73.0       304
2936             25     1.72                0.000000         76.0       529
2937             24     1.68                0.000000         79.0      1483

      ...  Total expenditure  Diphtheria    HIV/AIDS         GDP  Population  \
0     ...               8.16         65.0        0.1  584.259210  33736494.0
1     ...               8.18         62.0        0.1  612.696514    327582.0
2     ...               8.13         64.0        0.1  631.744976  31731688.0
3     ...               8.52         67.0        0.1  669.959000   3696958.0
4     ...               7.87         68.0        0.1   63.537231   2978599.0
...   ...                ...          ...        ...         ...         ...
2933  ...               7.13         65.0       33.6  454.366654  12777511.0
2934  ...               6.52         68.0       36.7  453.351155  12633897.0
2935  ...               6.53         71.0       39.8   57.348340    125525.0
2936  ...               6.16         75.0       42.1  548.587312  12366165.0
2937  ...               7.10         78.0       43.5  547.358878  12222251.0

       thinness  1-19 years   thinness 5-9 years  \
0                      17.2                 17.3
1                      17.5                 17.5
2                      17.7                 17.7
3                      17.9                 18.0
4                      18.2                 18.2
...                     ...                  ...
2933                    9.4                  9.4
2934                    9.8                  9.9
2935                    1.2                  1.3
2936                    1.6                  1.7
2937                   11.0                 11.2

      Income composition of resources  Schooling  Universal_Insurance
0                               0.479       10.1                False
1                               0.476       10.0                False
2                               0.470        9.9                False
3                               0.463        9.8                False
4                               0.454        9.5                False
...                               ...        ...                  ...
2933                            0.407        9.2                False
2934                            0.418        9.5                False
2935                            0.427       10.0                False
2936                            0.427        9.8                False
2937                            0.434        9.8                False

[2888 rows x 23 columns]

In [62]:
print(Data[np.where(Data["Country"] in Universal_Countries)])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().