In [31]:
import numpy as np
import pandas as pd

In [32]:
# Reads the Cleaned Data
Data = pd.read_csv("Life-Expectancy-Data-Updated.csv")
# Replaces Turkiye with Turkey
Data = Data.replace("Turkiye", "Turkey")

In [33]:
# Sets up information for new feature
np.linspace(2000, 2015, 16)
Universal_Countries = ["Albania", "Algeria", "Argentina", "Australia", "Austria", "Bahamas, The", "Bahrain",
                       "Belgium", "Bhutan", "Botswana", "Brazil", "Brunei Darussalam", "Bulgaria", "Burkina Faso",
                       "Canada", "China", "Colombia", "Costa Rica", "Croatia", "Cuba", "Cyprus", "Czechia",
                       "Denmark", "Finland", "France", "Georgia", "Germany", "Ghana", "Greece",
                       "Iceland", "India", "Indonesia", "Israel", "Italy", "Japan", "Kuwait",
                       "Luxembourg", "Malaysia", "Maldives", "Mauritius", "Mexico",
                       "Morocco", "Netherlands", "New Zealand", "Norway", "Pakistan", "Peru",
                       "Philippines", "Portugal", "Romania", "Russian Federation", "Rwanda", "Saudi Arabia", "Serbia",
                       "Seychelles", "Singapore", "Slovenia", "South Africa", "Spain", "Sri Lanka",
                       "Suriname", "Sweden", "Switzerland", "Thailand", "Trinidad and Tobago", "Tunisia",
                       "Turkey", "United Arab Emirates", "United Kingdom"]
Special_country = ['Georgia', 'Ghana', 'Indonesia', "Suriname"]
georgia = [2013, 2014, 2015]
ghana = np.linspace(2003, 2015, 13)
indonesia = [2014, 2015]
suriname = [2014, 2015]

In [34]:
# Makes sure the data matches up nicely
missing = []
countries = np.array(Data["Country"].unique())
for i in range(len(Universal_Countries)):
    same = False
    for j in range(len(countries)):
        if Universal_Countries[i] == countries[j]:
            same = True
    if same == False:
        missing.append(Universal_Countries[i])

In [35]:
def univers_count (country_year):
    if country_year[0] == "Georgia":
        if country_year[1] in georgia:
            return True
        else:
            return False
    elif country_year[0] == "Ghana":
        if country_year[1] in ghana:
            return True
        else:
            return False

    elif country_year[0] == "Indonesia":
        if country_year[1] in indonesia:
            return True
        else:
            return False

    elif country_year[0] == "Suriname":
        if country_year[1] in suriname:
            return True
        else:
            return False
        
    elif country_year[0] in Universal_Countries:
        return True
    else:
        return False

In [36]:
country_year = Data.loc[:, ['Country', 'Year']].values
uni_count = [univers_count(i) for i in country_year]
Data["Universal_Insurance"] = uni_count

# subset = Data['Country'] == "Turkey"
# Data[subset]["Universal_Insurance"] = Data[subset]["Universal_Insurance"].replace(False, True)
# print(Data[subset]["Universal_Insurance"])

In [37]:
print(Data)

        Country          Region  Year  Infant_deaths  Under_five_deaths  \
0        Turkey     Middle East  2015           11.1               13.0
1         Spain  European Union  2015            2.7                3.3
2         India            Asia  2007           51.5               67.9
3        Guyana   South America  2006           32.8               40.5
4        Israel     Middle East  2012            3.4                4.3
...         ...             ...   ...            ...                ...
2859      Niger          Africa  2000           97.0              224.9
2860   Mongolia            Asia  2009           23.9               28.6
2861  Sri Lanka            Asia  2004           17.7               28.9
2862  Lithuania  European Union  2002            7.9                9.9
2863    Iceland  Rest of Europe  2011            2.1                2.6

      Adult_mortality  Alcohol_consumption  Hepatitis_B  Measles   BMI  ...  \
0            105.8240                1.320           97       65  27.8  ...
1             57.9025               10.350           97       94  26.0  ...
2            201.0765                1.570           60       35  21.2  ...
3            222.1965                5.680           93       74  25.3  ...
4             57.9510                2.890           97       89  27.0  ...
...               ...                  ...          ...      ...   ...  ...
2859         291.8240                0.092           72       64  20.8  ...
2860         235.2330                6.560           97       97  25.3  ...
2861         134.8950                1.560           62       95  21.9  ...
2862         204.0120               11.000           94       95  26.1  ...
2863          50.5745                6.840           88       90  26.1  ...

      Incidents_HIV  GDP_per_capita  Population_mln  \
0              0.08           11006           78.53
1              0.09           25742           46.44
2              0.13            1076         1183.21
3              0.79            4146            0.75
4              0.08           33995            7.91
...             ...             ...             ...
2859           0.49             399           11.33
2860           0.02            2515            2.67
2861           0.02            2130           19.39
2862           0.05            7424            3.44
2863           0.05           48934            0.32

      Thinness_ten_nineteen_years  Thinness_five_nine_years  Schooling  \
0                             4.9                       4.8        7.8
1                             0.6                       0.5        9.7
2                            27.1                      28.0        5.0
3                             5.7                       5.5        7.9
4                             1.2                       1.1       12.8
...                           ...                       ...        ...
2859                         12.8                      12.9        1.1
2860                          2.2                       2.3        9.1
2861                         15.4                      15.5       10.3
2862                          3.3                       3.3       11.1
2863                          0.9                       0.9       11.0

      Economy_status_Developed  Economy_status_Developing  Life_expectancy  \
0                            0                          1             76.5
1                            1                          0             82.8
2                            0                          1             65.4
3                            0                          1             67.0
4                            1                          0             81.7
...                        ...                        ...              ...
2859                         0                          1             49.9
2860                         0                          1             66.9
2861                         0                          1             74.3
2862                         1                          0             71.8
2863                         1                          0             82.4

      Universal_Insurance
0                    True
1                    True
2                    True
3                   False
4                    True
...                   ...
2859                False
2860                False
2861                 True
2862                False
2863                 True

[2864 rows x 22 columns]

In [39]:
# Save the cleaned data
Data.to_csv("Life Expectancy Data Cleaned With Insurance.csv")